body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar-brand {
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: cornflowerblue;
}

.container-bg {
    height: 105vh;
    background-image: url("e-book 02.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container-info {
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.buy-now {
    background-color: black;
    color: white;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.buy-now:hover {
    background-color: black;
}

.bg-light {
    background: #f4f4f4;
    color: #333;
}

.features-05,
p {
    text-align: center;
}

.grid-container {
    display: grid;
    height: 400px;
    align-content: center;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color: black;
    padding: 10px;
}

.grid-container>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.bg-dark {
    background: #333;
    color: #f4f4f4;
    margin: 0;
    padding: 2.2rem;
}

.author,
.paragraph-auhtor {
    text-align: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.title {
    color: grey;
    font-size: 18px;
}

.contact {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover,
.a:hover {
    opacity: 0.7;
}

.bg-image {
    background-image: url("bg-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 50vh;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 1em;
}

.item1 {
    text-align: center;
    float: right;
    margin: 0;
    padding: 3.3rem;
}

.number,
.text,
.color {
    color: white;
}

* {
    box-sizing: border-box;
}


/* Style inputs */

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.contact-us {
    color: black;
}

input[type=submit] {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 12px 20px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
}

input[type=submit]:hover {
    background-color: black;
}


/* Style the container/contact section */

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
}


/* Create two columns that float next to eachother */

.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

footer {
    padding: 2.2rem;
}

footer p {
    margin: 0;
}


/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
    .column,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}